[Unit]
Description=Billy Bass Assistant
After=network.target sound.target

[Service]
User=pi
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/billy-b-assistant
ExecStart=/home/pi/billy-b-assistant/venv/bin/python /home/pi/billy-b-assistant/main.py
Restart=always

[Install]
WantedBy=multi-user.target
