[Unit]
Description=Billy Flask Wi-Fi Setup
After=network.target

[Service]
User=root
Environment="PYTHONBUFFERED=1"
WorkingDirectory=/home/pi/billy-b-assistant/setup
ExecStart=/home/pi/billy-b-assistant/venv/bin/python /home/pi/billy-b-assistant/setup/wifi_setup.py
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
