[Unit]
Description=Billy Wi-Fi Onboarding Startup Check
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/home/pi/billy-b-assistant/setup
ExecStartPre=/bin/sleep 15
ExecStart=/home/pi/billy-b-assistant/setup/wifi_check.sh
Restart=on-failure
StandardOutput="journal"
StandardError="journal"

[Install]
WantedBy=multi-user.target
