[Unit]
Description=Billy Wi-Fi Onboarding Startup Check
After=network.target

[Service]
Type=simple
ExecStart=/home/billy/billy-b-assistant/setup/wifi_check.sh
WorkingDirectory=/home/billy/billy-b-assistant
Restart=on-failure
User=root
Environment="PATH=/usr/localsbin:/usr/local/bin:usr/sbin:/usr/bin:/sbin:/bin"
StandardOutput="journal"
StandardError="journal"

[Install]
WantedBy=multi-user.target
